
.container-background{
    position:absolute;
    top: inherit;
    left: inherit;
    max-width:100%;
    max-height:100%;
    z-index: 0;
}
#armor{
    position: relative;
    justify-content: center;
    align-items: center;
    width:300px;
    height:500px;
}
#armor>img{
    position:absolute;
    top: 0px;
    left: 40px;
    max-width:100%;
    max-height:100%;
}
#helm
{
    z-index: 40;
}
#arms
{
    z-index: 50;
}
#legs
{
    z-index: 20;
}
#chest
{
    z-index: 30;
}

.form-control {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */

}
.stats{
    position:absolute;
    top:0px;
    left:400px;
}
.name{
    position:relative;
    margin-left:5%;
    margin-top:10%;
    margin-bottom: 20%;
    /*margin-left:20px;
    margin-top:20px;
    margin-bottom: 40px;*/
}
.firstStat{
    position: relative;
    margin-left:5%;
    margin-top:0;
    margin-bottom: 2%;
}
.stat{
    position: relative;
    margin-left:5%;
    margin-top:1.5%;
    margin-bottom: 2%;
    /*margin-left:20px;
    margin-top:20px;*/
}
.traits{
    position:absolute;
    top:0;
    left:0;
}
.skills{
    position:absolute;
    top:0;
    left:0;
}


