.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
#armor{
    position: relative;
    justify-content: center;
    align-items: center;
    width:640px;
    height:1024px;
}
img
{
    position:absolute;
    /*top:0;
    bottom:0;
    left:0;
    right:0;*/
    top: inherit;
    left: inherit;
    max-width:100%;
    max-height:100%;

}
#helm
{
    z-index: 30;
}
#arms
{
    z-index: 40;
}
#legs
{
    z-index: 10;
}
#chest
{
    z-index: 20;
}